{
  "gasPrice": "0.18",
  "iterations": 1,
  "interval": 1,
  "timezone": "Asia/Jakarta",
  "scheduledTime": "02:11",
  "confirmation": {
    "required": 2,
    "maxRetries": 5,
    "retryDelay": 30000,
    "interval": 5000
  },
  "wallets": {
    "wallet1": {
      "amount_min": "0.07",
      "amount_max": "0.08"
    },
    "wallet2": {
      "amount_min": "0.002",
      "amount_max": "0.004"
    }
  }
}
