{
  "timezone": "Asia/Jakarta",
  "scheduledTime": "18:24",
  "confirmation": {
    "required": 1,
    "maxRetries": 3,
    "retryDelay": 5000
  },
  "weth": {
    "iterations": 37,
    "interval": 1,
    "gasPrice": "0.18",
    "amount_min": "0.001",
    "amount_max": "0.003",
    "wallets": {
      "wallet1": {
        "amount_min": "0.001",
        "amount_max": "0.003"
      },
      "wallet2": {
        "amount_min": "0.00001",
        "amount_max": "0.00003"
      }
    }
  },
  "vote": {
    "iterations": 76,
    "interval": 1,
    "maxFee": "0.25",
    "maxPriorityFee": "0.11"
  }
}
